* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: center;
    user-select: none;
}
body { 
    background-color: rgb(35, 7, 91);
    color: whitesmoke;
}
header { 
    align-items: center;
    text-align: center;
    background-color: rgb(35, 7, 91);
    border-bottom: 2px solid silver;
    
}
#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    background-color: rgb(35, 7, 91);
    color: rgb(35, 7, 91);
    text-align: center;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    border-top: 2px solid silver;
}

.nav-link {
    background-color: silver;
    height: 40px;
    width: 160px;
    justify-content: center;
    align-content: center;
    font-weight: 900;
    border-radius: 20px 20px 0 0;
}